@model BookBook.Data.Product

@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Trang Chủ > Chi tiết sản phẩm</h3>
<br />
<br />


<div class="row">

    <div class="col-6 col-md-4">
        <img src="~/Content/image/@Html.DisplayFor(model => model.ProductImage)" width="100%" height="400px" atl="image" />
    </div>
    <div class="col-12 col-md-8">
        <dl class="row">
            <div style="font-size: 30px" class="col-sm-10"><b>@Html.DisplayFor(model => model.ProductName)</b></div>
            <div class="w-100"></div>
            <br />
            <div class="col-sm-4">Tác Giả : </div>
            <div style=" color:chocolate " class="col-sm-6">@Html.DisplayFor(model => model.Tacgia)</div>
            <div class="w-100"></div>

            <div class="col-sm-4">NXB :</div>
            <div style=" color:chocolate " class="col-sm-6">@Html.DisplayFor(model => model.NXB)</div>
            <div class="w-100"></div>

            <div class="col-sm-4">Nhà Cung Cấp :</div>
            <div style=" color:chocolate " class="col-sm-6">@Html.DisplayFor(model => model.Nhacungcap)</div>
            <div class="w-100"></div>

            <br>
            <div style="font-size: 25px; color:darkred" class="col-sm-10">@Html.DisplayFor(model => model.ProductPrice)  &nbsp; đ</div>
            <div class="w-100"></div>

            <br />
            <div class="col-sm-10"><b>@Html.DisplayFor(model => model.Description)</b></div>
            <div class="w-100"></div>
            <br />
            <br />

            <div class="col-sm-4">
                <a class="btn btn-warning" href="@Url.Action("Index", "Cart")">Thêm vào giỏ hàng</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-success" href="@Url.Action("CheckOut", "Cart")">Thanh toán</a>
            </div>
        </dl>
    </div>
</div>