@model IEnumerable<BookBook.Database.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publishing_company)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.type.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewData["Danhsach"] as List<BookBook.Data.Product>)
    {
        <tr>
            <td>
                <img src="@item.image" class="img-thumbnail" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.publishing_company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type.name)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Products", new { id = item.id})">Edit</a> |
                <a href="@Url.Action("Delete", "Products", new { id = item.id})">Delete</a>
            </td>
        </tr>
    }

</table>