
@model List<BookBook.Models.ProductByType>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Các loại sách</span>
                    </div>
                    <ul>
                        <li><a href="@Url.Action("ProductByType", "Products", new { id = 4})">Tiểu Thuyết</a></li>
                        <li><a href="@Url.Action("ProductByType", "Products", new { id = 1})">Truyện Ngắn</a></li>
                        <li><a href="@Url.Action("ProductByType", "Products", new { id = 2})">Truyện Dài</a></li>
                        <li><a href="@Url.Action("ProductByType", "Products", new { id = 6})">Fiction</a></li>
                        <li><a href="#">Ngôn Tình</a></li>
                        <li><a href="#">Kiếm Hiệp</a></li>
                        <li><a href="#">Trinh Thám</a></li>
                        <li><a href="#">Kinh Dị</a></li>
                        <li><a href="#">Kĩ Năng Sống</a></li>
                        <li><a href="#">Văn Hóa</a></li>
                        <li><a href="#">Chính Trị - Triết Học</a></li>
                        <li><a href="#">Báo - Tạp Chí</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        @using (Html.BeginForm("SearchItem", "Home"))
                        {
                            <input type="text" name="searchname" placeholder="Tìm kiếm sản phẩm mong muốn ...">
                            <button type="submit" class="site-btn">TÌM</button>
                        }
                    </div>

                </div>

                @*<div class="hero__item set-bg" data-setbg="img/5138.jpg">*@
                <div class="w3-content w3-display-container">
                    <img class="mySlides" src="~/Content/image/baosalemuaha_mainbanner_920x420.jpg" style="width:100%">
                    <img class="mySlides" src="~/Content/image/CPHV_mainbanner_920x420.jpg" style="width:100%">
                    <img class="mySlides" src="~/Content/image/MCBooks-920x420.jpg" style="width:100%">
                    <img class="mySlides" src="~/Content/image/NCC-T6-920x420.jpg" style="width:100%">


                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                </div>

                <div class="hero__text">

                </div>
            </div>
        </div>
    </div>
</section>

<div style=" background-color:aliceblue">
    <marquee><font size="5">SẢN PHẨM NỔI BẬT</font></marquee>
</div>
<br />
<br />

@using (Html.BeginForm("Sort", "Home"))
{
    <p>
        Sắp xếp sản phẩm theo : <input type="submit" class="btn btn-warning" value="Giá tăng dần" name="sort" />
        <input type="submit" class="btn btn-warning" value="Giá giảm dần" name="sort" />
        <input type="submit" class="btn btn-warning" value="Tên A-Z" name="sort" />
        <input type="submit" class="btn btn-warning" value="Tên Z-A" name="sort" />
    </p>
}


<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 mb-4">

            <div class="card h-100">
                <div class="card-img-top">
                    <div class="img">
                        <img src="@item.image" alt="">
                        <div class="txt">
                            <a asp-controller="Cart" asp-action="Buy" asp-route-id="@item.id"><h3 style="color:aliceblue">MUA NGAY</h3></a>
                            <a href="@Url.Action("DetailProduct", "Products", new { id = item.id})"><h3 style="color:aliceblue">XEM CHI TIẾT</h3></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@item.name </h4>
                    <p style="        font-size: 20px;color: sandybrown" class="card-text">@item.price&nbsp; đ &nbsp;&nbsp;<img src="~/Content/image/hot-icon-1-1.gif" style="width: 45px; height: 30px" /></p>
                </div>
            </div>
        </div>}
</div>

@*<div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page}))
    </div>*@

<div style=" background-color: aquamarine">
    <marquee><font size="5">BOOKBOOK HOT DEALS</font></marquee>
</div>

<div style="  padding-top: 20px" class="row">
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-img-top">
                <div class="img">
                    <img src="~/Content/image/8936186544064.jpg" alt="">
                    <div class="txt">
                        <a href="#"><h3 style="color:aliceblue">MUA NGAY</h3></a>
                        <a href="#"><h3 style="color:aliceblue">XEM CHI TIẾT</h3></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Đừng Sợ Mình Sai </h4>
                <p style="font-size: 20px;color: sandybrown" class="card-text">71.000 &nbsp; đ</p>
                <p style="font-size: 15px" class="card-text"><strike>90.000 &nbsp; đ</strike></p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-img-top">
                <div class="img">
                    <img src="~/Content/image/tranlot.jpg" alt="">
                    <div class="txt">
                        <a href="#"><h3 style="color:aliceblue">MUA NGAY</h3></a>
                        <a href="#"><h3 style="color:aliceblue">XEM CHI TIẾT</h3></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Trấn Lột</h4>
                <p style="        font-size: 20px;color: sandybrown" class="card-text">119.000 &nbsp; đ</p>
                <p style="        font-size: 15px" class="card-text"><strike>150.000 &nbsp; đ</strike></p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-img-top">
                <div class="img">
                    <img src="~/Content/image/5cm.jpg" alt="">
                    <div class="txt">
                        <a href="#"><h3 style="color:aliceblue">MUA NGAY</h3></a>
                        <a href="#"><h3 style="color:aliceblue">XEM CHI TIẾT</h3></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">5 Centimet Trên Giây</h4>
                <p style="        font-size: 20px;color: sandybrown" class="card-text">36.000 &nbsp; đ</p>
                <p style="        font-size: 15px" class="card-text"><strike>60.000 &nbsp; đ</strike></p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-img-top">
                <div class="img">
                    <img src="~/Content/image/cover-1---m_-_om-_m.jpg" alt="">
                    <div class="txt">
                        <a href="#"><h3 style="color:aliceblue">MUA NGAY</h3></a>
                        <a href="#"><h3 style="color:aliceblue">XEM CHI TIẾT</h3></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Mộ Đom Đóm</h4>
                <p style="        font-size: 20px;color: sandybrown" class="card-text">80.500 &nbsp; đ</p>
                <p style="        font-size: 15px" class="card-text"><strike>100.000 &nbsp; đ</strike></p>
            </div>
        </div>
    </div>

    <div style="padding-left:45%"> <button type="button" class="btn btn-warning"> XEM THÊM >>></button> </div>

</div>

<br />
<br />
<div class="row">
    <div class="col-6">
        <img src="~/Content/image/hinh1.jpg" height="250" />
    </div>
    <div class="col-6">
        <img src="~/Content/image/hinh2.jpg" height="250" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-6">
        <img src="~/Content/image/hinh4.jpg" height="250" />
    </div>
    <div class="col-6">
        <img src="~/Content/image/hinh3.jpg" height="250" />
    </div>
</div>
<br />
<br />

<div style=" background-color: cornflowerblue">
    <marquee><font size="5">GỢI Ý CHO BẠN</font></marquee>
</div>

<div style="  padding-top: 20px" class="row">
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-img-top">
                <div class="img">
                    <img src="~/Content/image/bogia.jpg" alt="">
                    <div class="txt">
                        <a href="#"><h3 style="color:aliceblue">MUA NGAY</h3></a>
                        <a href="https://localhost:44379/Detail/Index"><h3 style="color:aliceblue">XEM CHI TIẾT</h3></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Bố Già</h4>
                <p style="        font-size: 20px;color: sandybrown" class="card-text">89.000 &nbsp; đ</p>
                <p style="        font-size: 15px" class="card-text"><strike>100.000 &nbsp; đ</strike></p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-img-top">
                <div class="img">
                    <img src="~/Content/image/nhungtamhondauyeu.jpg" alt="">
                    <div class="txt">
                        <a href="#"><h3 style="color:aliceblue">MUA NGAY</h3></a>
                        <a href="#"><h3 style="color:aliceblue">XEM CHI TIẾT</h3></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Những Tâm Hồn Dấu Yêu</h4>
                <p style="        font-size: 20px;color: sandybrown" class="card-text">130.000 &nbsp; đ</p>
                <p style="        font-size: 15px" class="card-text"><strike>150.000 &nbsp; đ</strike></p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-img-top">
                <div class="img">
                    <img src="~/Content/image/tinhvarac.jpg" alt="">
                    <div class="txt">
                        <a href="#"><h3 style="color:aliceblue">MUA NGAY</h3></a>
                        <a href="#"><h3 style="color:aliceblue">XEM CHI TIẾT</h3></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Tình và Rác</h4>
                <p style="        font-size: 20px;color: sandybrown" class="card-text">77.000 &nbsp; đ</p>
                <p style="        font-size: 15px" class="card-text"><strike>120.000 &nbsp; đ</strike></p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-img-top">
                <div class="img">
                    <img src="~/Content/image/agirlcalledjustice.jpg" alt="">
                    <div class="txt">
                        <a href="#"><h3 style="color:aliceblue">MUA NGAY</h3></a>
                        <a href="#"><h3 style="color:aliceblue">XEM CHI TIẾT</h3></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">A Girl Called Justice</h4>
                <p style="        font-size: 20px;color: sandybrown" class="card-text">80.500 &nbsp; đ</p>
                <p style="        font-size: 15px" class="card-text"><strike>99.000 &nbsp; đ</strike></p>
            </div>
        </div>
    </div>

    <div style="padding-left:45%"> <button type="button" class="btn btn-warning"> XEM THÊM >>></button> </div>

</div>

<br />
<br />
<div style=" background-color:darkkhaki">
    <marquee><font size="5">SẮP PHÁT HÀNH</font></marquee>
</div>

<div style="  padding-top: 20px" class="container">
    <div class="row">
        <div class="col-6">

            <img src="~/Content/image/sapphathanh.jpg" style="width: 90%;     height: 500px" />
        </div>
        <div class="col">
            <div class="card ">
                <div class="card-img-top">
                    <div class="img">
                        <img src="~/Content/image/tamlihoc.jpg" alt="">
                        <div class="txt">
                            <a href="#"><h3 style="color:aliceblue">MUA NGAY</h3></a>
                            <a href="#"><h3 style="color:aliceblue">XEM CHI TIẾT</h3></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Tâm Lí Học</h4>
                    <p style="        font-size: 20px;color: sandybrown" class="card-text">80.500 &nbsp; đ</p>
                    <p style="        font-size: 15px" class="card-text"><strike>100.000 &nbsp; đ</strike></p>
                </div>
            </div>
            <br />
            <button type="button" class="btn btn-warning"> XEM THÊM >>></button>
        </div>

        <div class="col">
            <div class="card ">
                <div class="card-img-top">
                    <div class="img">
                        <img src="~/Content/image/sangchantamli.jpg" alt="">
                        <div class="txt">
                            <a href="#"><h3 style="color:aliceblue">MUA NGAY</h3></a>
                            <a href="#"><h3 style="color:aliceblue">XEM CHI TIẾT</h3></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Sang Chấn Tâm Lí</h4>
                    <p style="        font-size: 20px;color: sandybrown" class="card-text">99.000 &nbsp; đ</p>
                    <p style="        font-size: 15px" class="card-text"><strike>122.000 &nbsp; đ</strike></p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div style="  padding-top: 20px" class="container">
    <img src="~/Content/image/hinhdai.jpg" />
</div>
<br />
<br />

<p style="text-align:center;color:darkblue;font-size:35px">TÁC GIẢ - TÁC PHẨM TIÊU BIỂU</p>
<br />
<div style="  padding-top: 20px" class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <img src="~/Content/image/harukiMURAKAMI.jpg" style="width:80%;height:220px" />
            <p style="text-align:center;color:crimson;font-size:30px;padding-top:15px">HARUKI MURAKAMI</p>
        </div>

        <div class="col-6 col-md-4">
            <img src="~/Content/image/nguyenngoctu.jpg" style="width:80%;height:220px" />
            <p style="text-align:center;color:crimson;font-size:30px;padding-top:15px">NGUYỄN NGỌC TƯ</p>
        </div>

        <div class="col-6 col-md-4">
            <img src="~/Content/image/pauloCoelho.jpg" style="width:80%;height:220px" />
            <p style="text-align:center;color:crimson;font-size:30px;padding-top:15px">PAULO COELHO</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6 col-md-4">
            <img src="~/Content/image/lophocmatngu.png" style="width:80%;height:220px" />
            <p style="text-align:center;color:crimson;font-size:20px;padding-top:15px">LỚP HỌC MẬT NGỮ</p>
        </div>

        <div class="col-6 col-md-4">
            <img src="~/Content/image/sachchuyenthethanhphim.png" style="width:80%;height:220px" />
            <p style="text-align:center;color:crimson;font-size:20px;padding-top:15px">SÁCH CHUYỂN THÀNH PHIM</p>
        </div>

        <div class="col-6 col-md-4">
            <img src="~/Content/image/thantuongkpop.png" style="width:80%;height:220px" />
            <p style="text-align:center;color:crimson;font-size:20px;padding-top:15px">THẦN TƯỢNG K-POP</p>
        </div>
    </div>
</div>

@*giao dien cua cart item*@

<style>
    /*img {
                width: 100%;
                height: auto;
                transition: all ease-in-out;
            }
        */
    .img {
        position: relative;
        overflow: hidden;
    }

    .txt {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.52);
        position: absolute;
        bottom: 50px;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        opacity: 0;
    }

    .img:hover div.txt {
        opacity: 1;
        transform: translateY(50px);
        transition: ease-in-out 0.5s;
    }

    .img:hover img {
        transform: scale(1.5);
        transition: all ease-in-out 0.5s;
    }
</style>

@*chay slide*@
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }</script>